form{
    text-align: center;
    border-radius: 30px;
}

table,  td{
    border-collapse: collapse;
    width: 30%;
    padding: 1%;
}
input[type=text], input[type=date], input[type=number]{
    border: 1px solid green;
    border-radius: 4px;
    padding: 1%;
}

label{
    font-weight: bold;

}

input[type=radio]+label{
    background-color: red;
    font-size: 10pt;
    width: 40px;
    height: 20px;
}

