table#lihtne1 {
    border: 1px solid black;
    width: 30%;
    height: 100px;
    text-align: center;
}

td{
    border: 1px solid black;
}

table#keeruline1{
    border: 1px solid black;
    width: 10%;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
}

table#keeruline2{
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: top;
    border-collapse: collapse;
}

table#keeruline2 td{
    vertical-align: top;
    border: 1px solid red;
    background-color: darkred;
}

table#iseseisevTooTabeliga, table#arvestustooTabeliga{
    text-align: center;
    height: 200px;
    width: 300px;
    vertical-align: top;
    border-collapse: collapse;
}

.nimia{
    background-color: blue;
}


#arvestustooTabeliga tr:nth-child(1){
    background-color: blue;
}

#arvestustooTabeliga tr:nth-child(2) td:nth-child(1){
    background-color: red;
}

#arvestustooTabeliga tr:nth-child(2) td:nth-child(2){
    background-color: yellow;
}

#arvestustooTabeliga tr:nth-child(2) td:nth-child(3){
    background-color: green;
}

#arvestustooTabeliga tr:nth-child(2) td:nth-child(4){
    background-color: brown;
}

#arvestustooTabeliga tr:nth-child(3) td:nth-child(1){
    background-color: deeppink;
}

#arvestustooTabeliga tr:nth-child(3) td:nth-child(2){
    background-color: deepskyblue;
}

#arvestustooTabeliga tr:nth-child(3) td:nth-child(3){
    background-color: darkcyan;
}

#arvestustooTabeliga tr:nth-child(4) td:nth-child(1){
    background-color: darkgoldenrod;
}

#arvestustooTabeliga tr:nth-child(4) td:nth-child(2){
    background-color: blueviolet;
}

#arvestustooTabeliga tr:nth-child(5) td:nth-child(1){
    background-color: cornflowerblue;
}

#arvestustooTabeliga tr:nth-child(6) td:nth-child(1){
    background-color: firebrick;
}